#customers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#0f69c4;
  color: #ffffff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #cccccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
td  {
  text-align: left;
}
a.btn.btn-secondary{
  float: right;
}
.table-title{
  color: rgb(17, 3, 3);
  background:#f0f3f5;
  padding: 15px;
}
.table-title .btn {
  color:#ffffff;
  float: right;
  font-size: 13px;
  background: #20a8d8;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 20px;

}
.table-title .btn i{

  font-size: 16px;
}
.icon{

  font-size: 18px;
}
.forms{
  width: 30%;
  height: auto;
  left: 36%;
  top: 15%;
  padding: 15px;
}
.pagination-footer {
margin-bottom: 1rem;
}
.approve-icon{

color: #00C851;
}
.reject-icon{
color: #ff4444;
}
.pending-user .badge{
position: absolute;
top: -10px;
padding: 5px 8px;
border-radius: 50%;
background-color: #ff0000;
color: #ffffff;

}
.main {
  width: 50%;
  margin: 50px auto;
}
/* Bootstrap 4 text input with search icon */
.has-search .form-control {
  padding-left: 2.375rem;
}
.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}
.centerbtn{
  width: 30%;
  margin-left: 37%;
}
@media (max-width: 1535px ){
  .mediaforsmall{
    margin-left: 28% !important;
  }
}

  .dot-pulse {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9999px 0 0 -5px #9880ff;
    animation: dotPulse 1.5s infinite linear;
    animation-delay: .25s;
  }
  
  .dot-pulse::before, .dot-pulse::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
  }
  
  .dot-pulse::before {
    box-shadow: 9984px 0 0 -5px #9880ff;
    animation: dotPulseBefore 1.5s infinite linear;
    animation-delay: 0s;
  }
  
  .dot-pulse::after {
    box-shadow: 10014px 0 0 -5px #9880ff;
    animation: dotPulseAfter 1.5s infinite linear;
    animation-delay: .5s;
  }
  a.settings.manager{
    pointer-events: none; 
    display: inline-block;
    color: #666666;

  }
  a.delete.manager{
    pointer-events: none;
    display: inline-block; 
    color: #666666;

  }
  .msetting:hover{
    cursor: not-allowed;
  }
  a.delete.admin{
    color:#ff0000;
  }
  @keyframes dotPulseBefore {
    0% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9984px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9984px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulse {
    0% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 9999px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 9999px 0 0 -5px #000000;
    }
  }
  
  @keyframes dotPulseAfter {
    0% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
    30% {
      box-shadow: 10014px 0 0 2px #000000;
    }
    60%,
    100% {
      box-shadow: 10014px 0 0 -5px #000000;
    }
  }
  .user-data th{

    cursor: pointer;
  }
  .centerposition{
    position: absolute;
    top: 4%
}