<div class="row">
  <div class="col-lg-12">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row user-header">
          <div class="col-sm-6">
            <!-- <h4 style="font-weight: 500;">User Management </h4> -->
            <span class="centerposition">
              User Management
  
             </span>
          </div>
          <div class="col-sm-6">
            <a href="#" (click)="userRegister()" class="btn btn-secondary"><i
                class="	fa fa-plus-circle fa-fw"></i><span>Add
                User</span></a>
            <a href="#" (click)="userPending()" class="btn btn-secondary pending-user"><span>Pending
                Requests</span><span *ngIf="isPendingUser" class="badge">{{pendingUserCount}}</span></a>
            <div class="col-sm-5">
              <div class="search-hero  has-search ">
                <span class="fa fa-search form-control-feedback mediaforsmall" style="
                    margin-left: 39%;"></span>
                <input type="text" class="form-control mediaforsmall" style="
                    margin-left: 45%; height: 1%;" placeholder="Search" [(ngModel)]="searchedUser">
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-hover shadow-lg bg-white user-data">
        <thead>
          <tr>
            <th (click)="sortByName()">Name<i class="fa fa-fw fa-sort"></i></th>
            <th>Email</th>
            <th (click)="sortByRole()">Role<i class="fa fa-fw fa-sort"></i></th>
            <th (click)="sortByStatus()">Status<i class="fa fa-fw fa-sort"></i></th>
            <th (click)="sortByURE()">User Request Email<i class="fa fa-fw fa-sort"></i></th>
            <th (click)="sortByDate()">Date Created <i class="fa fa-fw fa-sort"></i></th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of results | filter:searchedUser | paginate: { itemsPerPage: 10, currentPage: p }">
            <td> <img src="{{user.Picture}}" onerror="this.src='assets/img/avatars/user.png';" class="rounded-circle"
                alt="Avatar" width="30" height="30"><img><span style="margin-left: 5px;">
                {{user.FirstName}}
              </span><span *ngIf="user.LastName !== 'undefined'">{{user.LastName}}</span> </td>
            <td>{{user.Email}}</td>
            <td *ngIf="user.roleid === 1">Admin</td>
            <td *ngIf="user.roleid === 2">Project Manager</td>
            <td *ngIf="user.roleid === 3">User</td>
            <td *ngIf="user.IsEnabled === 1">Active</td>
            <td *ngIf="user.IsEnabled === 0">Inactive</td>
            <td *ngIf="user.EmailNotification === 1">Active</td>
            <td *ngIf="user.EmailNotification === 0">Inactive</td>
            <td>{{user.CreatedDate | date}}</td>
            <td *ngIf="(userRole === 2 && user.roleid != 1) || userRole === 1">
              <a href="#"
                (click)="userSettings(user.FirstName,user.LastName,user.Email, user.ID, user.roleid, user.EmailNotification, user.IsEnabled)"
                class="settings admin" title="" data-toggle="tooltip" data-original-title="Settings"><i
                  class="fa fa-edit icon fa-fw" aria-hidden="true"></i></a>
              <a href="#" (click)=userDelete(user.ID) class="delete admin" title="" data-toggle="tooltip"
                data-original-title="Delete"><i class="fa fa-remove icon"></i></a>
            </td>
            <td *ngIf="userRole === 2 && user.roleid === 1" class="msetting">
              <a href="#" class="settings manager" title="" data-toggle="tooltip" data-original-title="Settings"><i
                  class="fa fa-edit icon fa-fw" aria-hidden="true"></i></a>
              <a href="#" class="delete manager" title="" data-toggle="tooltip" data-original-title="Delete" disabled><i
                  class="fa fa-remove icon"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div>
<div bsModal #userExists="bs-modal" class="modal">
  <form class="modal-content row forms">
    <div class="modal-body">
      <h3>The user already exists. Please use a different user.</h3>
    </div>
    <div class="modal-footer">
      <button type="button" (click)="existsDone()" class="btn btn-primary">OK</button>
    </div>
  </form>
</div>
<div bsModal #registrationForm="bs-modal" class="modal">
  <form class="modal-content row forms" [formGroup]="userRegistrationForm" (ngSubmit)="registration()">
    <h2 class="text-muted">Add User Account</h2>

    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="firstName"
        [ngClass]="{'has-error is-invalid': (isSubmitted || userRegistrationForm.controls['firstName'].touched) && registrationFormControls.firstName.errors }"
        formControlName="firstName" class="form-control" placeholder="First Name" autocomplete="first-name" required>
      <div
        *ngIf="userRegistrationForm.controls['firstName'].invalid && (isSubmitted || userRegistrationForm.controls['firstName'].dirty || userRegistrationForm.controls['firstName'].touched)"
        class="text-danger">
        <div *ngIf="userRegistrationForm.controls['firstName'].errors.required">
          First name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="lastName" formControlName="lastName" class="form-control" placeholder="Last Name"
        autocomplete="last-name">

    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="email"
        [ngClass]="{'has-error is-invalid': (isSubmitted || userRegistrationForm.controls['email'].touched) && registrationFormControls.email.errors }"
        formControlName="email" class="form-control" placeholder="Email" autocomplete="email" required email>
      <div
        *ngIf="userRegistrationForm.controls['email'].invalid && (isSubmitted || userRegistrationForm.controls['email'].dirty || userRegistrationForm.controls['email'].touched)"
        class="text-danger">
        <div *ngIf="userRegistrationForm.controls['email'].errors.required">
          Email is required.
        </div>
      </div>
      <div
        *ngIf="userRegistrationForm.controls['email'].invalid && (isSubmitted || userRegistrationForm.controls['email'].dirty || userRegistrationForm.controls['email'].touched)"
        class="text-danger">
        <div *ngIf="userRegistrationForm.controls['email'].errors.email">
          Email is not valid.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="roles">Roles</label>
      <select class="form-control" [(ngModel)]="roles"
        [ngClass]="{'has-error is-invalid': (isSubmitted || userRegistrationForm.controls['roles'].touched) && registrationFormControls.roles.errors }"
        formControlName="roles" name="role" required>
        <option value="null" disabled> Select Role</option>
        <option *ngIf="userRole === 1" value="1">Admin</option>
        <option value="2">Project Manager</option>
        <option value="3">User</option>
      </select>
      <div
        *ngIf="userRegistrationForm.controls['roles'].invalid && (isSubmitted || userRegistrationForm.controls['roles'].dirty || userRegistrationForm.controls['roles'].touched)"
        class="text-danger">
        <div *ngIf="userRegistrationForm.controls['roles'].errors.required">
          Please select the Role.
        </div>
      </div>
    </div>

    <button type="submit" [disabled]="createAccBtnDis" class="btn btn-block btn-primary centerbtn">Create
      Account</button>

  </form>
</div>
<div bsModal #accountSetting="bs-modal" class="modal">
  <form class="modal-content row forms" [formGroup]="accountSettingForm" (ngSubmit)="userAccountSetting()">
    <h2 class="text-muted">Edit User - {{settingUserFirstName}}</h2>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="sett_firstName"
        [ngClass]="{'has-error is-invalid': (isSettingSubmitted || accountSettingForm.controls['sett_firstName'].touched) && accountSettingFormControls.sett_firstName.errors }"
        formControlName="sett_firstName" class="form-control" placeholder="First Name" autocomplete="first-name"
        required>
      <div
        *ngIf="accountSettingForm.controls['sett_firstName'].invalid && (isSubmitted || accountSettingForm.controls['sett_firstName'].dirty || accountSettingForm.controls['sett_firstName'].touched)"
        class="text-danger">
        <div *ngIf="accountSettingForm.controls['sett_firstName'].errors.required">
          First name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="sett_lastName" formControlName="sett_lastName" class="form-control"
        placeholder="Last Name" autocomplete="last-name">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="sett_email" formControlName="sett_email" class="form-control" placeholder="Email"
        autocomplete="email" disabled>
    </div>
    <div class="form-group" *ngIf="userRole === 1">
      <label for="roles">Roles</label>
      <select class="form-control" [(ngModel)]="settRoles" formControlName="settRoles" name="settRoles" required>
        <option value="1">Admin</option>
        <option value="2">Project Manager</option>
        <option value="3">User</option>
      </select>
    </div>
    <div class="form-group" *ngIf="userRole === 2">
      <label for="roles">Roles</label>
      <select class="form-control" [(ngModel)]="settRoles" formControlName="settRoles" name="settRoles" required>
        <option value="2">Project Manager</option>
        <option value="3">User</option>
      </select>
    </div>
    <div class="form-group">
      <label for="roles">Status</label>
      <select class="form-control" [(ngModel)]="status" formControlName="status" name="status" required>
        <option value="0">Inactive</option>
        <option value="1">Active</option>
      </select>
    </div>
    <div class="form-group">
      <label for="roles">User Request Email</label>
      <select class="form-control" [(ngModel)]="notifications" formControlName="notifications" name="notifications"
        required>
        <option value="0">Inactive</option>
        <option value="1">Active</option>
      </select>
    </div>
    <button type="submit" class="btn btn-block btn-primary centerbtn">Save</button>
  </form>
</div>
<div bsModal #deleteAccount="bs-modal" class="modal">
  <form class="modal-content row forms">
    <div class="modal-body">
      <h3>Are you sure you want to delete this user?</h3>
    </div>
    <div class="modal-footer" style="border-top: 0px solid #c8ced3;">
      <button type="button" (click)="deleteClose()" class="btn btn-primary">Cancel <i class="fa fa-close"> </i></button>
      <button type="button" (click)="deleteDone()" class="btn btn-danger">Delete <i class="fa fa-trash"></i></button>
    </div>
  </form>
</div>
<div bsModal #pendingUser="bs-modal" class="modal">
  <div class="modal-content row forms">
    <!-- Modal Header -->
    <div class="modal-header border-0">
      <h4 class="modal-title">Pending User Requests</h4>
    </div>

    <!-- Modal body -->
    <div class="modal-body">
      <table class="table  table-hover">
        <thead>
          <tr>
            <th>User Email</th>
            <th>Request Date</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>

          <tr
            *ngFor="let penUser of getAllPenUser | paginate: { itemsPerPage: 5, currentPage: p1, id: 'first'}; let i = index">
            <td>{{penUser.Email}}</td>
            <td>{{penUser.CreatedDate | date}}</td>
            <td>
              <a href="#" (click)="openUserAddForm(penUser.ID)" class="settings" title="" data-toggle="tooltip"
                data-original-title="Settings"><span><i class="fa fa-user-plus fa-lg  approve-icon"
                    aria-hidden="true"></i></span></a>
              <a href="#" (click)=pendingUserDelete(i,penUser) class="delete" title="" data-toggle="tooltip"
                data-original-title="Delete"><i class="fa fa-user-times fa-lg reject-icon" aria-hidden="true"></i></a>
            </td>
          </tr>
          <div class="d-flex justify-content-center">
            <div class="dot-pulse" *ngIf="showLoader" role="status">
              <span class="sr-only" id="loading"></span>
            </div>
          </div>
        </tbody>
      </table>
      <div *ngIf="noDataPendingUser" class="text-center">
        No Pending User Requests.
      </div>
    </div>

    <!-- Modal footer -->
    <div class="modal-footer">
      <pagination-controls *ngIf="!noDataPendingUser" class="mr-auto" (pageChange)="p1 = $event" id="first"></pagination-controls>
      <button type="button" class="btn btn-danger pagination-footer" (click)="closePendingModal()">Close</button>
    </div>
  </div>
</div>
<div bsModal #pendingUserRegistrationForm="bs-modal" class="modal">
  <form class="modal-content row forms" [formGroup]="pendingRegistrationForm" (ngSubmit)="pendingUserRegistration()">
    <h2 class="text-muted">Approve This User Account</h2>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="p_firstName"
        [ngClass]="{'has-error is-invalid': (isSubmitted || pendingRegistrationForm.controls['p_firstName'].touched) && pendingRegistrationFormControls.p_firstName.errors }"
        formControlName="p_firstName" class="form-control" placeholder="First Name" autocomplete="first-name" required>
      <div
        *ngIf="pendingRegistrationForm.controls['p_firstName'].invalid && (isSubmitted || pendingRegistrationForm.controls['p_firstName'].dirty || pendingRegistrationForm.controls['p_firstName'].touched)"
        class="text-danger">
        <div *ngIf="pendingRegistrationForm.controls['p_firstName'].errors.required">
          First name is required.
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="p_lastName" formControlName="p_lastName" class="form-control"
        placeholder="Last Name" autocomplete="last-name">

    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" [(ngModel)]="p_email" formControlName="p_email" class="form-control" placeholder="Email"
        autocomplete="email" disabled>
    </div>
    <div class="form-group">
      <label for="roles">Roles</label>
      <select class="form-control" [(ngModel)]="p_roles"
        [ngClass]="{'has-error is-invalid': (isSubmitted || pendingRegistrationForm.controls['p_roles'].touched) && pendingRegistrationFormControls.p_roles.errors }"
        formControlName="p_roles" name="p_role" required>
        <option value="null" disabled> Select Role</option>
        <option *ngIf="userRole === 1" value="1">Admin</option>
        <option value="2">Project Manager</option>
        <option value="3">User</option>
      </select>
      <div
        *ngIf="pendingRegistrationForm.controls['p_roles'].invalid && (isSubmitted || pendingRegistrationForm.controls['p_roles'].dirty || pendingRegistrationForm.controls['p_roles'].touched)"
        class="text-danger">
        <div *ngIf="pendingRegistrationForm.controls['p_roles'].errors.required">
          Please select the Role.
        </div>
      </div>
    </div>
    <button type="submit" [disabled]="approveBtnDis" class="btn btn-block btn-primary">Approve</button>
  </form>
</div>