<div class="col-lg-12">
    <div class="card">
        <div class="card-body p-4 clearfix">
            <div class="row" >              
                <div class="col-sm-3">
                    <div class="form-group row">                          
                        <div class="col-md-12">

                        <tag-input [(ngModel)]="projectName" [theme]="'minimal'" class="" (onAdd)="onselectProject($event)" (onRemove)="getUserLessonsByFilter()" [maxItems]="1" name="_projectname"  [secondaryPlaceholder]="'All Projects'">
                                <tag-input-dropdown   
                                    [showDropdownIfEmpty]="true"                                             
                                    [autocompleteItems]="projectsAsObjects"
                                    [displayBy]="'projectName'"
                                    [identifyBy]="'projectId'"                                                
                                    >                                                                                     
                                </tag-input-dropdown> 
                                <!-- <i class="myDIV">Hover over me.</i>       -->
                                <!-- <span class="myDIV" style="margin-left: 95%">&#33;</span>  
                                <div class="hide">Please insert All Projects</div> -->
                         
                                <i class="cui-magnifying-glass icons font-2xl d-block mt-4 searchIcon"></i>
                                
                            </tag-input>                   
                        </div>
                        <!-- <span class="myDIV d-block mt-4 searchIcon"style="margin-right: -13px;
                        color: black;" >&#33;</span>   -->
                        <!-- <span class="myDIV d-block mt-4 searchIcon"style="margin-right: -13px;
                        color: black;">&#63;</span>
                        <div class="hide"style="margin-left: 8%">Please insert All Projects</div> -->
                        <div class="help-tip">
                            <p>Please insert All Projects</p>
                        </div>

                    </div>
                </div>  
                <div class="col-sm-3">
                        <div class="form-group row">                              
                            <div class="col-md-12">
                                <select class="form-control" [(ngModel)]="_projectPhase" name="_projectPhase" id="ppo" (change)="onselectProjectPhase($event)">
                                    <option value="">All Phase</option> 
                                    <option *ngFor="let phase of projectsPhaseAsObjects" value="{{phase.phaseId}}">{{phase.phase}}</option> 
                                </select>                                                                                                                           
                            </div>
                            <div class="help-tip">
                                <p>Please insert All Phase</p>
                            </div>
                        </div>
                </div>  
                <div class="col-sm-3">
                    <div class="form-group row">                          
                        <div class="col-md-12">                      
                            <select class="form-control" [(ngModel)]="milestone" (change)="getUserLessonsByFilter()" name="_projectphasemilestone" id="ppm" >
                                    <option value="">All Milestone</option> 
                                    <option *ngFor="let milestone of projectsPhaseMilestoneAsObjects" value="{{milestone.milestone}}">{{milestone.milestone}}</option> 
                            </select>                                                 
                        </div>
                        <div class="help-tip">
                            <p>Please insert All Milestone</p>
                        </div>
                    </div>
            </div>  
            <div class="col-sm-3">
                <div class="form-group row">                      
                    <div class="col-md-12">                          
                        <select class="form-control"   [(ngModel)]="impectcategory" name="impectcategory" id="icat" (change)="getUserLessonsByFilter()">
                                <option value="" selected>All Impact category</option>
                                <option *ngFor="let category of categoriesAsObjects" value="{{category.categoryName}}">{{category.categoryName}}</option>                                                                                       
                        </select>         
                        <div class="help-tip">
                            <p>Please insert All Impact category</p>
                        </div>                                                                               
                    </div>
                </div>
            </div>                             
            </div>
            <div class="row">
                <div class="col-sm-3" >
                    <div class="form-group row">                              
                            <div class="col-md-12">                                  
                                <tag-input [(ngModel)]="Keywords" [theme]="'minimal'" (onAdd)="getUserLessonsByFilter()" (onRemove)="getUserLessonsByFilter()"  [maxItems]="5" name="Keywords"  [secondaryPlaceholder]="'All Keywords'">
                                        <tag-input-dropdown                                                                                                         
                                            [autocompleteItems]="keywordsAsObjects"
                                            [displayBy]="'keywordName'"
                                            [identifyBy]="'keywordId'"                                                
                                            >
                                        </tag-input-dropdown>
                                    </tag-input>                                                                          
                            </div>
   
                            <div class="help-tip">
                                <p>Please insert All Keywords</p>
                            </div> 
                     </div>
            </div> 
            <div class="col-sm-3">
                <div class="form-group row">                      
                    <div class="col-md-12">                          
                        <select class="form-control" [(ngModel)]="impectlevel" (change)="getUserLessonsByFilter()" name="impectlevel" id="implevel">
                                <option value="" selected>All Impact level</option>
                                <option value="Low">Low</option>
                                <option value="Medium">Medium </option>                                                        
                                <option value="High">High</option>
                                <option value="Critical">Critical</option>                                                                                                                  
                        </select>                                                                                                 
                    </div> 
                    <div class="help-tip">
                        <p>Please insert All Impact level</p>
                    </div> 
                </div>
        </div>
        <div class="col-sm-3">
          <div class="form-group row">                      
              <div class="col-md-12">                          
                  <select class="form-control" [(ngModel)]="departments" (change)="getUserLessonsByFilter()" name="departments" id="departments">
                          <option value="" selected>All Departments</option>
                          <option value="Bloodscreening">Bloodscreening</option>
                          <option value="G & O">G & O</option>
                          <option value="HPV Microbiology">HPV Microbiology</option>    
                          <option value="LIAT">LIAT</option>
                          <option value="New Gen">New Gen</option>                              
                          <option value="NAP/qPCR/BR">NAP/qPCR/BR</option>                                                          
                          <option value="Systems">Systems</option>                                      
                          <option value="Virology">Virology</option>
                          <option value="Other">Other</option>  
                  </select>                                                                                                 
              </div>
              <div class="help-tip">
                <p>Please insert All Departments</p>
            </div>
          </div>
  </div> 
  <div class="col-sm-3">
    <div class="form-group row">                      
        <div class="col-md-12" style="padding-top: 8px;">                                          
            <a href="javascript:void(0);" (click)="resetFilter()" class="ng-star-inserted" >Clear All Filters</a>                    
        </div>
    </div>
</div>                             
            </div>
        </div>
    </div>
</div>

     
<div class="col-12 col-lg-12" *ngFor="let lesson of results">
<div class="card">
  <div class="card-body p-3 clearfix">        
    <div class="h5 text-primary mb-0">#{{lesson.projectNumber}}:{{lesson.projectName}} - {{lesson.typeofLesson}}</div>
    <div class="text-muted font-xs"><strong>Issue Description: </strong> {{lesson.issueDescription}}</div>        
    <div class="text-muted font-xs"><strong>Root Cause: </strong> {{lesson.rootCause}}</div>
    <div class="text-muted font-xs"><strong>Recommendation: </strong> {{lesson.recommendation}}</div>
    <div class="text-muted font-xs"><strong>Keywords: </strong> {{lesson.keywords}} &nbsp;|&nbsp; <strong>Impect Category: </strong> {{lesson.impactCategory}} &nbsp;|&nbsp; <strong>Impect Level: </strong> {{lesson.impactLevel}} &nbsp;|&nbsp; <strong>Created By: </strong> {{lesson.user}} &nbsp;|&nbsp; <strong>Created Date: </strong> {{lesson.date | date }}</div>
    <div class="text-muted font-xs"><strong>Department: </strong> {{lesson.department}} &nbsp;|&nbsp; <strong>Project Phase: </strong> {{lesson.projectPhase}} &nbsp;|&nbsp; <strong>Milestone: </strong> {{lesson.projectMilestone}} &nbsp;|&nbsp; <strong>Status: </strong>{{lesson.approveStatus}} <span *ngIf="lesson.attachments"> &nbsp;|&nbsp; <a href="{{_baseURL}}{{lesson.attachments}}" target="_blank" ><i class="fa fa-download float-right font-lg" style="cursor: pointer" ></i> </a></span></div>
  </div>    
</div>
</div>

<div class="col-12 col-lg-12" *ngIf="noResult">     
  <div class="alert alert-warning"  role="alert" ng-reflect-ng-class="" ng-reflect-klass="alert alert-warning">     
      <strong>No results found</strong>
  </div>     
</div>

