<div class="animated fadeIn">
  <div class="card">
    <div class="card-header">
      <strong>Lesson Details</strong>
      <a href="http://localhost:4200/#/user/lessons"><button class="btn btn-primary float-right">Back</button></a>

    </div>
    <div class="container">
        <div class="row">
          <div class="col-25">
            <label for="fname">Title</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{title}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Lesson Type</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{lessontype}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Project Type</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{_projectType}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Phase</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{phase}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Milestones</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{milestones}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Impact Category</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{impactcategory}}">
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="fname">Impact Level</label>
          </div>
          <div class="col-75">
            <input type="text" id="fname" name="firstname" readonly value="{{impactlevel}}">
          </div>
        </div>
        
        <div class="row">
          <div class="col-25">
            <label for="subject">Root Cause</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" style="height:200px" readonly value="{{rootcouse}}"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Recommendation</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" style="height:200px" readonly value="{{Recommendation}}"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-25">
            <label for="subject">Issue Discription</label>
          </div>
          <div class="col-75">
            <textarea id="subject" name="subject" style="height:200px" readonly value="{{issuedescription}}"></textarea>
          </div>
        </div>

    </div>
    </div>
  </div>