<div class="row">
   <div class="col-lg-12">
      <div class="table-wrapper">
         <div class="table-title">
            <div class="row user-header">
               <div class="col-sm-6">
                  <!-- <h4 style="font-weight: 500;">
                     <i class="fa fa-question-circle" style="font: size 22px;"></i></h4> -->
                     <span class="centerposition">
                        How Do I 
            
                       </span>
               </div>
            </div>
         </div>
         <div class="row shadow-lg bg-white" style="width: 100%; margin-left: 0%;">
            <!-- <th>Project Type</th> -->
            <div class="col-sm-4 col-md-4" style="margin-top: 1%; margin-left: 0%;">
               <div class="card">
                  <div class="card-header">
                  Add and manage Notification
                     <i class="fa fa-question" style="font: size 22px;"></i>
                     <a class="pdf float-right" href="https://drive.google.com/file/d/12kZbKGBuMIr2D3MvepJnXCLICZNGIVBd/view?usp=sharing " target="_blank" >View pdf</a>
                  </div>
                  <div class="card-body">
                    <a class="nav-link " href="https://drive.google.com/file/d/1jZqry5i7FpeLXem1pVwvKgAZgWBqCPY-/view?usp=sharing" target="_blank" >
                        <img src="{{avatarImg}}" onerror="this.src='assets/img/avatars/notification.png';"  alt="records" width="100%" height="100%"> 
                    </a>
                  </div>
               </div>
            </div>
            <div *ngIf="show" class="col-sm-4 col-md-4" style="margin-top: 1%;">
               <div class="card">
                  <div class="card-header">
                      Record a Lesson 
                     <i class="fa fa-question" style="font: size 22px;"></i>
                     <a class="pdf float-right" href="https://drive.google.com/file/d/1_E5O1dutySY8Ni6QL5PGxLfgieUVl5Ca/view?usp=sharing" target="_blank" >View pdf</a>
   
                  </div>
                  <div class="card-body">
                   <a class="nav-link" href="https://drive.google.com/file/d/1UZL270aUybJnfC9slLLmihrqiXIlasUW/view?usp=sharing" target="_blank">
                       <img src="{{avatarImg}}" onerror="this.src='assets/img/avatars/record.png';"  alt="records" width="100%" height="100%"> 
                     </a>
                     <!-- <a href="https://ignatiuz.com">Ignatiuz</a> -->
                  </div>
   
               </div>
            </div>
            <div class="col-sm- col-md-4" style="margin-top: 1%;">
               <div class="card">
                  <div class="card-header">
                     Filter lessons
                     <i class="fa fa-question" style="font: size 22px;"></i>
                     <a class="pdf float-right" href="https://drive.google.com/file/d/1mj0KKUn_gDYnf54T2pVVfblC0iFy-UqW/view?usp=sharing " target="_blank" >View pdf</a>
                  </div>
                  <div class="card-body">
                   <a class="nav-link" href="https://drive.google.com/file/d/1NstId4uAlp82-mDaHpA3K-6bDMSuuP_L/view?usp=sharing" target="_blank" >
                       <img src="{{avatarImg}}" onerror="this.src='assets/img/avatars/filter.png';"  alt="records" width="100%" height="100%"> 
                   </a>
                  </div>
               </div>
            </div>
         </div>

         <div  *ngIf="show && show1" class="row bg-white" style="width: 100%; margin-left: 0%;">
           <!-- <th>Project Type</th> -->
           <div class="col-sm-4 col-md-4">
            <div class="card">
               <div class="card-header">
                 Manage Users in User-Management
                <i class="fa fa-question" style="font: size 22px;"></i>
                <a class="pdf float-right" href="https://drive.google.com/file/d/1fFHx7b8z--4t0xh14YqmMm8ECTVw1RMA/view?usp=sharing" target="_blank" >View pdf</a>
               </div>
               <div class="card-body">
                <a class="nav-link" href="https://drive.google.com/file/d/1qrAZTMO8eIXOCpMehnNwURpLdDcal-zv/view?usp=sharing" target="_blank" >
                   <img src="{{avatarImg}}" onerror="this.src='assets/img/avatars/usermanagement.png';"  alt="records" width="100%" height="100%"> 
               </a>
                
               </div>
            </div>
           </div>
           <div  *ngIf="show && show1" class="col-sm-4 col-md-4">
             
			 <div class="card">
            <div class="card-header">
               Add data in Master List 
               <i class="fa fa-question" style="font: size 22px;"></i>
               <a class="pdf float-right" href="https://drive.google.com/file/d/1Rq0-MSrOh4BBxvCl91Xm9LwJYRQWykvz/view?usp=sharing" target="_blank" >View pdf</a>
            </div>
            <div class="card-body">
             <a class="nav-link" href="https://drive.google.com/file/d/1e-f6cJRk7ozOvGp52BKbR4xM0IMloa3E/view?usp=sharing" target="_blank" >
                 <img src="{{avatarImg}}" onerror="this.src='assets/img/avatars/masterlist.png';"  alt="records" width="100%" height="100%"> 
               </a>
               <!-- <a href="https://ignatiuz.com">Ignatiuz with new tab</a> -->
            </div>
         </div>
           </div>
           <!-- <div class="col-sm- col-md-4">
              <div class="card">
                 <div class="card-header">
                    Card title
                 </div>
                 <div class="card-body">
                   Coming Soon

                 </div>
              </div>
           </div> -->
        </div>


      </div>
   </div>
</div>